<!DOCTYPE html>
<html ng-app="gameApp">

  <head>
    <meta charset="UTF-8">
    <title>Angular Remake Take 2 (mobile first this time)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <link rel="stylesheet" href="resources/css/compiled.css" />
  </head>

  <body ng-controller="gameCtrl as game">
  <main class="site-wrap">
    
    <header class="site-head">
      <h1>Rotten Tomatoes Game</h1>
    </header>
    
    <nav class="game-nav">
      <span>{{ game.movie.database[0].category }}</span>
    </nav>
    
    <!--
      ** STILL NEED TO BUILD IN A (POSSIBLY FIXED) SCOREBOARD **
         should replace top .site-head h1 and filtered by score
      -->
    
    <div class="game-board" ng-repeat="movie in game.movie.database[0].movies">
      
      <section class="movie-card">
        <h6 class="card-header">{{ movie.title | uppercase }}</h6>
        <span class="tomato-score">{{ movie.tomatoScore }}</span>
        
        <section>
          <h6 class="guess-header">Your Guess:</h6>
          <form class="user-input" autocomplete="off" ng-init="model.range = 50">
            <span class="show-slider-value">{{ model.range }}</span>
            <input type="range" class="number-input" ng-model="model.range" value="50" min="0" max="100" />
            <input type="submit" class="submit-button" value="Submit" />
          </form>
        </section>
        
        <section class="their-guesses">
          <h6 class="guess-header">Their Guesses:</h6>
          <table class="their-table">
            <thead></thead>
            <tbody>
              <tr ng-repeat="(key, value) in movie.scores">
                <td>{{ key | uppercase }}</td>
                <td>{{ value }}</td>
              </tr>
            </tbody>
          </table>
        </section><!-- .their-guesses -->
        
      </section><!-- .movie-card -->
      
    </section><!-- .game-board -->

    <footer>
      <p></p>
    </footer>
    
  </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="resources/js/angular-app.js"></script>
    
  </body>
</html>
