<!DOCTYPE html>
<html ng-app="gameApp" ng-cloak>

  <head>
    <meta charset="UTF-8">
    <title>The Rotten Tomatoes Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:site_name" content="The Rotten Tomatoes Game" />
    <meta property="og:title" content="The Rotten Tomatoes Game" />
    <meta property="og:url" content="http://angular-tomatoes.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Play The Rotten Tomatoes Game from The Adam Carolla Show" />
    <meta itemprop="name" content="The Rotten Tomatoes Game" />
    <meta itemprop="url" content="http://angular-tomatoes.azurewebsites.net/" />
    <meta itemprop="description" content="Play The Rotten Tomatoes Game from The Adam Carolla Show" />
    <meta name="twitter:title" content="Rotten Tomatoes Game" />
    <meta name="twitter:url" content="http://angular-tomatoes.azurewebsites.net/" />
    <meta name="twitter:card" content="Play The Rotten Tomatoes Game from The Adam Carolla Show" />
    <meta name="twitter:description" content="Play The Rotten Tomatoes Game from The Adam Carolla Show" />
    <meta name="description" content="Play The Rotten Tomatoes Game from The Adam Carolla Show" />
    <link rel="stylesheet" href="resources/css/compiled.css" />
  </head>

  <body ng-controller="DatabaseController">
  <main class="site-wrap">
    
    <header class="site-head">
      <h1>Rotten Tomatoes Game</h1>
    </header>
    
    <nav class="game-nav">
      <span>{{ movie.database[0].category }}</span>
    </nav>
    
    <section class="score-board" ng-controller="ScoreController">
      <span ng-repeat="(key, value) in scoreboard">
        {{ key | uppercase }}: {{ value }}
      </span>
    </section>
    
    <div class="game-board" ng-controller="SubmitController" ng-repeat="movie in movie.database[0].movies">
      
      <section class="movie-card">
        <h6 class="card-header">{{ movie.title | uppercase }}</h6>
        <span class="tomato-score" ng-show="isSubmitted">{{ movie.tomatoScore }}</span>
        
        <section>
          <h6 class="guess-header">Your Guess:</h6>
          <form class="user-input" autocomplete="off" ng-submit="submit(userGuess)">
            <span class="show-slider-value">{{ userGuess }}</span>
            <input type="range" class="number-input" ng-model="userGuess" ng-hide="isSubmitted" min="0" max="100" />
            <input type="submit" class="submit-button" value="Submit" ng-hide="isSubmitted" />
          </form>
        </section>
        
        <section class="their-guesses">
          <h6 class="guess-header">Their Guesses:</h6>
          <table class="their-table">
            <thead></thead>
            <tbody>
              <tr ng-repeat="(key, value) in movie.scores">
                <td>{{ key | uppercase }}</td>
                <td ng-show="isSubmitted">{{ value }}</td>
              </tr>
            </tbody>
          </table>
        </section><!-- .their-guesses -->
        
      </section><!-- .movie-card -->
      
    </section><!-- .game-board -->

    <footer>
      <p></p>
    </footer>
    
  </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="resources/js/angular-app.js"></script>
    
  </body>
</html>
